body{
	padding-top: 51px;
}

.content{
	background-color: #f9f9f9;
}

.warnning-border{
 	border-color: #843534;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
          	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

/*页面底部布局*/
.about-footer{
    border-top: 1px solid #E5E5E5;
    color: #777777;
    margin-top: 100px;
    padding-bottom: 30px;
    padding-top: 40px;
}