  <div align="center">  
    <footer class="about-footer" role="contentinfo">
      <div class="container">
        <p><a rel="nofollow" href="http://www.mama.cn/">妈妈网</a> | <a rel="nofollow" href="http://about.mama.cn/">公司简介</a> | <a rel="nofollow" href="http://about.mama.cn/news.html">媒体报道</a> | <a rel="nofollow" href="http://about.mama.cn/contact.html">联系我们</a> | <a rel="nofollow" href="http://about.mama.cn/join us.html">诚聘英才</a> | <a rel="nofollow" href="http://about.mama.cn/link.html">友情链接</a></p>
        <p>联系地址：广州市天河区天河路228号广晟大厦2706室</p>
        <p>COPYRIGHT <a href="http://www.mama.cn/">MaMa.cn</a> All Right Reserved 版权所有：<a href="http://www.mama.cn/">妈妈网</a> 粤ICP备09174648号-35</p>
      </div>
    </footer>
  </div>
  <script src="__PUBLIC__/js/jquery-2.1.0.min.js"></script>
  <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
  <script src="__PUBLIC__/js/main.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap-datepicker/1.3.0/js/locales/bootstrap-datepicker.zh-CN.min.js"></script>

  <script type="text/javascript">
  $(document).ready(function(){
      //添加新条目
      $('#addItem').click(function(){
        var trLen = $('#optionTable tr').length;
        var end = trLen - 1;
        //此时还未将新的tr节点插入，所以option的个数等于tr的个数
        $('#optionNum').val(trLen);
        var trNode = $('<tr style="display: none"></tr>').html('<td><div class="input-group"><span class="input-group-btn"><button class="btn btn-danger deleteItem" type="button" data-toggle="tooltip" data-placement="right" title="删除此题">删除</button></span><select name="childType'+end+'" class="form-control"><foreach name="optionType" item="val" key="k"><option value="{$k}">{$val}</option></foreach></select></div></td><td><input type="text" name="childTitle'+end+'" class="form-control require" placeholder="标题" /></td><td><input type="text" class="form-control require" name="childRange'+end+'" placeholder="排序" value="'+trLen+'"/></td><td><div class="input-group"><input type="text" class="form-control require" name="childOption'+end+'_1" placeholder="选项1"/><span class="input-group-btn"><button class="btn btn-info addOption" type="button" data-toggle="tooltip" data-placement="right" title="新建一个子选项">添加</button></span></div></td>');
        $('#optionTable').append(trNode);
        trNode.fadeIn('slow');
      })
  })
  </script>
  <script>
              $('#RangeDate .input-daterange').datepicker({
                    language: "zh-CN",
                    orientation: "top auto",
                    autoclose: true,
                    keyboardNavigation: false,
                    forceParse: false,
                    todayHighlight: true
               });
  </script>
  </body>
</html>