<include file="Public/header" title="妈网后台系统"/>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1><a href="{:U('Vote/index')}">投票</a></h1>
      </div>
      <p>1、发起投票</p>
      <p>2、查看投票</p>
      <p>3、编辑投票</p>
      
      <div class="page-header">
        <h1><a href="{:U('Register/index')}">报名</a></h1>
      </div>
      <p>1、发起报名</p>
      <p>2、查看报名</p>
      <p>3、编辑报名</p>

      <div class="page-header">
        <h1><a href="{:U('Research/index')}">调查</a></h1>
      </div>
      <p>1、发起调查</p>
      <p>2、查看调查</p>
      <p>3、编辑调查</p>
    </div>
  </div>
</div>

<include file="Public/footer" />